@import url(main-vars.css);

body {
    margin: 0;
    padding: 0;
}

.post {
    width: 70%;

    margin: 8rem auto auto;
    padding: 20px;

    background-color: var(--color-3);
    box-shadow: 0 2px 4px 0 gray;
    border-radius: 0.3rem;
} 

.post-head {
  font-size: 24px;
  font-family: var(--font);
  font-weight: 800;
  text-align: center;
  
  margin: 0 0 20px;
  
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.title, .content {
  margin-bottom: 10px;
  padding: 10px;
  
  font-family: var(--font);
  font-size: 16px;
  
  border: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px 0 gray;

  background-color: var(--color-4);
}

.title:focus, .content:focus {
  outline: none;
}

.title {
  font-weight: 900;
}

.content {
  margin-block: 1rem;
  
  border-radius: 5px;

  box-sizing: border-box;
  min-height: 15em;
  
  resize: none;

  flex-grow: 1;
  overflow-y: hidden;
}

.post input[type="submit"] {
  padding: 10px 20px;
  font-size: 1.1rem;

  cursor: pointer;
  transition: 50ms;

  box-sizing: border-box;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 2px solid var(--color-1);

}

.post input[type="submit"]:hover, .post input[type="submit"]:focus, .post input[type="submit"]:active {
  background-color: var(--color-2);
  box-shadow: 0 0 3px white;
}

@media (prefers-color-scheme:dark) {
  .post, .title, .content {
    box-shadow: 0 0 7px white;
  }
}

@media only screen and (max-width: 600px) {
  .post {
    margin-top: 10rem;
    width: 100%;
    box-sizing: border-box;
    
    border-radius: 0;
  }
}