@font-face {
    font-family: nunito-reg;
    src: url(fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: nunito-black;
    src: url(fonts/Nunito-Black.ttf);
}

@font-face {
    font-family: nunito-xtrabold;
    src: url(fonts/Nunito-ExtraBold.ttf);
}

body {
    margin: 0;
    padding: 0;

    --black-font: nunito-black;
    --bold-font: nunito-xtrabold;
    --reg-font: nunito-reg;
}

.post {
    width: 70%;
    margin: 0 auto;
    margin-top: 8rem;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
} 

.post-head {
  font-size: 24px;
  font-family: nunito-xtrabold;
  font-weight: bold;
  margin: 0 0 20px;
  color: #1a1a1b;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.title {
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px 2px #0002;
  
  font-size: 16px;
  font-family: nunito-black;
  
  border: 0;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;

}

.content {
  margin-block: 1rem;
  padding: 10px;
  
  font-family: nunito-reg;
  font-size: 16px;
  box-shadow: 2px 2px 5px 2px #0002;
  border: 0;
  border-radius: 5px;
  
  box-sizing: border-box;
  min-height: 15em;
  
  resize: none;
  flex-grow: 1;
  overflow-y: hidden;
}

.post input[type="submit"] {
  background-color: white;
  color: black;
  border: solid 1px black;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 200ms;
}

.post input[type="submit"]:hover {
  color: white;
  background-color: black;
}
