@font-face {
    font-family: nunito-reg;
    src: url(fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: nunito-black;
    src: url(fonts/Nunito-Black.ttf);
}

@font-face {
    font-family: nunito-xtrabold;
    src: url(fonts/Nunito-ExtraBold.ttf);
}

@font-face {
    font-family: nunito-semibold;
    src: url(fonts/Nunito-SemiBold.ttf);
}

body {
    --dark-color-1: #283618;
    --dark-color-2: #606c38;
    --medium-color: #bc6c25;
    --light-color-1: #dda15e;
    --light-color-2: #fefae0;
    
    background-color: var(--light-color-2);
    
    margin: 0;
    overflow-y: overlay;
}

header {
    position: fixed;
    inset: 0 0 auto;
    height: 4rem;

    background-color: var(--light-color-2);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    z-index: 1;

}

header h2, header p {
    user-select: none;
}

header > h2 {
    font-family: nunito-black;
    margin: 0 2rem;
}

.icon {
    width: 1rem;
}

#tab-box {
    background-color: var(--light-color-2);
    
    align-self: flex-start;
    margin-top: 0.85rem;

    position: relative;
    display: flex;
    flex-direction: column;
    
    width: 11rem;
    border-radius: 0.5rem;

    /* To be changed on hover */
    max-height: 2.25rem;
    overflow: hidden;
    outline: solid 2px transparent;
    outline-offset: -2px;

    transition: 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#tab-box:hover, #tab-box:focus, #tab-box:focus-within {
    outline: solid 2px var(--light-color-1);
    max-height: 10rem;
}

.tab-option {
    padding: 0.5em 0.7em;
    display: flex;
    align-items: center;
}

.tab-option:hover, .tab-option:focus {
    outline: none;
    background-color: var(--light-color-1);
}

.tab-option > img {
    object-fit: contain;
}

.tab-option > p {
    margin: 0;
    margin-left: 1rem;

    font-family: nunito-reg;
}

.dropdown.icon {
    position: absolute;
    right: 0.5rem;
    top: 0.7rem;

    align-self: center;
}

#searchbar {
    display: flex; 
    align-items: center;

    background-color: white;
    border-radius: 2rem;
    box-shadow: 2px 2px 4px #0007;

    padding: 0.4rem;
    width: 40rem;
    position: relative;
    isolation: isolate;
}

#searchbar.start-input {
    box-shadow: none;
}

#searchbar > input {
    background: none;
    border: none;
    outline: none;

    width: 100%;
    margin-left: 1rem;

    font-family: nunito-reg;
    color: black;
}

#search-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-color: white;
    z-index: -1;

    box-shadow: 2px 2px 4px #0007;
    border-radius: 0.5rem;
    overflow: hidden;

    display: none;
}

#searchbar.start-input > #search-box {
    display: block;
}

#search-box section {
    padding-left: 1rem;
    font-family: nunito-reg;
    
    min-height: 2rem;
    
    display: flex;
    align-items: center;
}

#search-box > section:first-child {
    margin-top: 2.2rem;
}

#search-box section.active {
    background-color: var(--light-color-1);
}

#search-box p {
    font-family: nunito-reg;
    font-size: 0.5rem;
    margin-left: 0.5em;
}

#user-btn {
    background-color: var(--light-color-2);

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    align-self: flex-start;

    max-height: 3.0rem;

    margin-top: 0.35rem;
    border-radius: 0.5rem;

    outline: solid 2px transparent;
    outline-offset: -2px;
    
    overflow: hidden;
    transition: max-height 400ms, outline 500ms, background-color 400ms;
    
}

#user-btn:hover, #user-btn:focus, #user-btn:focus-within {
    outline: solid 2px var(--light-color-1);
    max-height: 10rem;
}

#user-btn > svg {
    transform: scale(0.8);
}

#user-btn > .username {
    padding-inline: 0.5rem;
    margin: 0;
    
    font-family: nunito-semibold;
    font-size: 1rem;
}

#user-btn > .tab-option {
    grid-column: 1 / span 2;
}

a[href="login.php"] {
    font-family: nunito-semibold;
    color: blue;
    text-decoration: none;
}