@font-face {
    font-family: nunito-reg;
    src: url(Nunito-Regular.ttf);
}

@font-face {
    font-family: nunito-black;
    src: url(Nunito-Black.ttf);
}

@font-face {
    font-family: nunito-xtrabold;
    src: url(Nunito-ExtraBold.ttf);
}

@font-face {
    font-family: nunito-xtrabold;
    src: url(Nunito-ExtraBold.ttf);
}

@font-face {
    font-family: nunito-semibold;
    src: url(Nunito-SemiBold.ttf);
}

body {
    margin: 0;
}

#main-header {
    display: flex;
    border-bottom: solid 1px;
    justify-content: space-evenly;
    align-items: center;

    height: 4rem;
}

#main-header h2 {
    font-family: nunito-black;
}

#main-header p {
    font-family: nunito-reg;
    margin-block: 0;
    user-select: none;
}

#main-header .icon {
    max-width: 1rem;
    object-fit: contain;
}

#dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 9rem;

    position: relative;
    cursor: pointer;

    padding-block: 0.2rem;
    border-radius: 0.6rem;

    transition: 200ms;
}

#dropdown p {
    margin-right: 1rem;
    margin-left: 0.4rem;
}

#dropdown .icon {
    width: 0.9rem;
}

.dropdown-box {
    position: absolute;
    top: 0;
    width: 110%;

    display: flex;
    flex-direction: column;

    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px lightgray;
        
    overflow: hidden;
    display: none;
}

.dropdown-box > section {
    background-color: transparent;
    height: 1.8rem;
}

.dropdown-box-active {
    display: block;
}

#main-header .dropdown-item {
    display: flex;
    column-gap: 0.5rem;
    padding: 0.3rem 1rem;

    background-color: white;
    font-size: 0.8rem;
}

#main-header .dropdown-item:hover {
    background-color: lightgray;
}

#searchbar {
    filter: drop-shadow(0 4px 2px #0004);
    width: max(2rem, 50vw);
    height: 30px;

    cursor: text;
}

#searchbar:focus-within > rect, #searchbar:hover > rect{
    fill: #f5f5f5;
}

#searchtext {
    height: 100%;
    width: 100%;
}

#searchtext > input {
    display: block;
    margin-block: auto;
    height: 100%;
    width: 100%;

    background-color: transparent;
    border: none;

    font-size: 1rem;
    font-family: nunito-reg;
}

#searchtext > input:focus {
    outline: none;
}

.user {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.5rem;
    justify-content: center;

    position: relative;
}

.user > p {
    grid-column: 2;
}

#firstname {
    font-family: nunito-semibold;

    position: relative;
    top: 0.1rem;
}

#username {
    font-size: 0.75rem;
    font-family: nunito-reg;
}

.user > svg  {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.user-dropdown {
    position: absolute;
    top: 120%;
    width: 110%;

    display: flex;
    flex-direction: column;

    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px lightgray;
        
    overflow: hidden;
    display: none;
}

.user-dropdown-active {
    display: block;
}

#redirect {
    text-decoration: none;
    font-family: nunito-semibold;
    color: #2774E9;
}
