@import url(main-vars.css);

body {
    background-color: var(--color-4);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    
    padding: 1.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

h1 {
    font-family: var(--font);
    font-weight: 900;
}

input[type="submit"], a {
    font-family: var(--font);
    font-weight: 800;
}

h3, input[type="text"], label {
    font-family: var(--font);
}

h1, h3 {
    margin-block: 0.2rem;
}

h3 {
    margin-bottom: 1rem;
}

label {
    font-size: 0.75rem;
    align-self: flex-start;
    margin-top: 1rem;
}

label.error {
    margin-top: 0.2rem;
    color: red;
}

input[type="text"], input[type="password"] {

    align-self: stretch;
    padding: 0.8rem;
    margin-top: 0.2rem ;

    background-color: var(--color-3);
    box-shadow: 0 2px 4px 0 gray;

    border: 0;
    border-radius: 5px;
}

input[type="submit"] {
    /* align-self: flex-end; */
    
    width: 6rem;
    height: 2.5rem;
    margin-top: 0.5rem;

    background-color: transparent;
    
    border-radius: 0.5rem;
    border: 2px solid var(--color-1);

    font-size: 1.1rem;
    transition: 200ms;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--color-2);
}

hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: var(--color-1);
    margin: 20px 0;
}

a.create {
    width: 11rem;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: var(--color-2);
    border-radius: 0.3rem;

    transition: 200ms;
}

a.create:hover {
    background-color: var(--color-1);
    color: white;
}

a.forgot {
    font-size: 0.75rem;
    font-family: var(--font);
    font-weight: 400;
    text-decoration: none;

    margin-block: 0.6rem 1.2rem;
}

#signup {
    margin-top: 1.5rem;
}

@media (prefers-color-scheme:dark) {
    input[type="text"], input[type="password"] {
        box-shadow: 0 0 7px white;
    }
}

@media only screen and (max-width: 600px) {
    form {
        width: 80%;
    }
}