h4.username {
    margin: 0;
    margin-inline: 0.5rem;
}

.input-section {
    margin-top: 6rem;
}

.post-tab {
    width: calc(100% - 36rem);
    background-color: lightgray;
    
    display: flex;
    align-items: center;

    margin: 2rem auto 0;
    /* margin-top: 4rem; */
    padding: 1rem;

    border-radius: 0.3rem;
    box-shadow: 0 2px 4px 0 gray;

    font-family: nunito-reg;
}

.post-tab input {
    flex-grow: 1;

    background-color: white;
    
    height: 1.8rem;
    margin-inline: 1rem;
    
    border-radius: 0.5rem;
    border: 1px solid;
}

.post-tab img {
    width: 2rem;
}


/* best-hot-new */
.group {
    margin-right: 2rem; 
    font-style: bold;
    font-weight: 800;
    font-size: 20px;
}

.reddit-button {
    padding: 8px 16px;
    border-radius: 4px; /* Adjust the value to change the roundness */
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    opacity: 0.6;
    transition: opacity 0.3s, border-color 0.3s;
    display: flex;
    align-items: center;
}

.reddit-button:hover {
    background-color: white;
    opacity: 0.8;
}

.reddit-button:active {
    opacity: 1;
    border-color: #999;
}


.post-section {
    width: calc(100% - 30rem);
    display: flex;
    flex-direction: column;
    
    margin-inline: auto;
    margin-bottom: 2rem;

    --dark-color-1: #283618;
    --dark-color-2: #606c38;
    --medium-color: #bc6c25;
    --light-color-1: #dda15e;
    --light-color-2: #fefae0;
}

.post-container {
    background-color: lightgray;
    
    display: flex;
    flex-direction: column;
    position: relative;

    margin: 2rem 2rem 0;
    padding: 1rem 3rem;

    border-radius: 0.3rem;
    box-shadow: 0 2px 4px 0 gray;

    font-family: nunito-reg;
    overflow-x: hidden;
}

.post-container hr {
    border: none;
    width: 100%;
    height: 2px;
    background-color: black;
    margin-block: 1rem;
}

.post-user {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    
    width: fit-content;
}

.post-user * {
    grid-column: 2;
    margin: 0;
}

.post-user svg {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.post-user p {
    font-size: 0.7rem;
    margin-left: 0.5rem;
}

.post-user a {
    text-decoration: none;
    color: black;
}

button.like {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 0.5rem;

    background-color: var(--light-color-1);
}

img.like-state {
    max-width: 1rem;
}

.comment-container {
    margin-left: 1rem;
}

.comment-container div {
    display: flex;
    align-items: center;
}

.comment-container div p {
    font-size: 0.7rem;
}

form.comment-box {
    display: flex;
    align-items: flex-end;
    
    --height: 35px;
}   

form.comment-box div {
    display: flex;
    align-items: center;

}

form.comment-box input[type="submit"] {
    height: var(--height);
}

form.comment-box textarea {
    resize: none;
    
    margin-inline: 1.3rem;
    border-radius: 0.5rem;
    padding-block: calc(var(--height) / 7);
    
    flex-grow: 1;
    box-sizing: border-box;
    overflow-y: hidden;

    height: var(--height);
    min-height: var(--height);
    
    font-family: nunito-reg;
    font-size: 1rem;
}

form.comment-box textarea:focus {
    outline: none;
}

/* Profile.php */
.delete-btn, .edit-btn {
    position: absolute;
    top: 1rem;
    right: 3rem;

    cursor: pointer;
}

.edit-btn {
    top: 3rem;
}

.delete-confirm.active {
    position: absolute;
    inset: 0;

    background: linear-gradient(to bottom, var(--light-color-1), #bc6c2522);
}

.delete-confirm > * {
    display: none;
}

.delete-confirm.active > * {
    display: block;
}