@import url(main-vars.css);

/* Create a post, sorting tab */
#input-section {
    margin-top: 6rem;
}

/* All post tabs (general selector); includes the create a post tab, and sorting tab */
.post-tab {
    width: calc(100% - 36rem);
    background-color: var(--color-3);
    
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

    margin: 2rem auto 0;
    /* margin-top: 4rem; */
    padding: 1rem;
    
    border-radius: 0.3rem;
    box-shadow: 0 2px 4px 0 gray;

    font-family: var(--font);
}

/* Create a post tab input */
#create-a-post input {
    flex-grow: 1;

    background-color: var(--color-2);
    
    height: 1.8rem;
    margin-inline: 1rem;
    
    border-radius: 0.5rem;
    border: none;
    font-family: var(--font);
}

/* Icon on create a post, icon of new, hot, top */
.post-tab img {
    width: 2rem;
}

/* New, Hot, Top */
.group {
    margin-inline: 0.75rem; 
    
    font-weight: 800;
    font-size: 20px;
    
    border-radius: 0.8rem;
    
    transition: 50ms;

    padding: 8px 16px;

    display: flex;
    column-gap: 0.5rem;
    justify-content: space-around;
    align-items: center;
    
    cursor: pointer;
}

/* When tab is current sorting method */
.group.active {
    background-color: var(--color-2);
    box-shadow: 0 0 5px inset #000a;
}

/* When user hovers over tab, or when tabbed into */
.group:hover, .group:focus, .group:active {
    outline: none;
    background-color: var(--color-1);
    box-shadow: 0 0 5px inset #000a;
}

/* The container of all posts */
.post-section {
    width: calc(100% - 30rem);
    display: flex;
    flex-direction: column;
    
    margin-inline: auto;
    margin-bottom: 2rem;

}

/* The container for every post */
.post-container {
    background-color: var(--color-3);
    
    display: flex;
    flex-direction: column;
    position: relative;

    margin: 2rem 2rem 0;
    padding: 1rem 3rem;

    border-radius: 0.3rem;
    box-shadow: 0 2px 4px 0 gray;

    font-family: var(--font);
    overflow-x: hidden;
}

/* Post creator (username) */
h4.username {
    margin: 0;
    margin-inline: 0.5rem;
}

/* The divider between post content and comments section */
.post-container hr {
    border: none;
    width: 100%;
    height: 2px;
    background-color: var(--color-1);
    margin-block: 1rem;
}

/* Container for username, avatar and date of creation */
.post-user {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    
    width: fit-content;
}

/* Position all elements to column 2 */
.post-user * {
    grid-column: 2;
    margin: 0;
}

/* Position svg to column 1 */
.post-user svg {
    grid-column: 1;
    grid-row: 1 / span 2;
}

/* Date of creation */
.post-user p {
    font-size: 0.7rem;
    margin-left: 0.5rem;
}

/* The username (both posts and comments) */
.post-user a, .comment-container a {
    text-decoration: none;
    color: unset;
}

/* Like button */
button.like {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 0.5rem;

    background-color: transparent;
    border: 2px solid var(--color-1);
    border-radius: 0.5rem;

    height: 2rem;
}

button.like:hover, button.like:active {
    background-color: var(--color-2);
    box-shadow: 0 0 3px white;
}

/* The like button picture */
img.like-state {
    max-width: 1rem;
}

/* Contains comments and the commenting interface */
.comment-container {
    margin-left: 1rem;
}

/* Contains commenter information */
.comment-container > div {
    display: flex;
    align-items: center;
}

/* Contains comment date */
.comment-container > div > p {
    font-size: 0.7rem;
}

/* Commenting interface */
form.comment-box {
    display: flex;
    align-items: flex-end;
    
    --height: 35px;
}   

/* Contains current user icon and username */
form.comment-box div {
    display: flex;
    align-items: center;

}

/* Submit button */
form.comment-box input[type="submit"] {
    box-sizing: border-box;
    height: var(--height);

    background-color: transparent;
    border-radius: 0.5rem;
    border: 2px solid var(--color-1);

    transition: 50ms;
}

/* Submit button when hovered*/
form.comment-box input[type="submit"]:hover, form.comment-box input[type="submit"]:focus, form.comment-box input[type="submit"]:active {
    background-color: var(--color-2);
    box-shadow: 0 0 3px white;

}

/* Input area */
form.comment-box textarea {
    resize: none;
    
    margin-inline: 1.3rem;
    border-radius: 0.5rem;
    padding-block: calc(var(--height) / 7);
    
    flex-grow: 1;
    box-sizing: border-box;
    overflow-y: hidden;

    height: var(--height);
    min-height: var(--height);
    
    font-family: var(--font);
    font-size: 1rem;

    background-color: var(--color-4);
    border-radius: 0.5rem;
    border: none;
}

/* When input area is tabbed into */
form.comment-box textarea:focus {
    outline: none;
}

/* Search results */
#search-results {
    margin-top: 5rem;
    
    text-align: center;
    font-family: var(--font);
}

/* If dark mode, change post tab colors */
@media (prefers-color-scheme:dark) {
    .post-tab {
        box-shadow: 0 0 7px white;
    }

    .post-tab img {
        filter: invert();
    }

    .post-container {
        box-shadow: 0 0 7px white;
    }
}

/* Mobile browser support */
@media only screen and (max-width: 600px) {
    #input-section {
        margin-top: 9rem;
        overflow-x: hidden;
    }

    .post-tab {
        width: 100%;
        box-sizing: border-box;
        border-radius: 0;

        margin-top: 0;
    }

    #sort-by {
        padding-block: 0.3rem;
    }

    #sort-by img {
        width: 30%;
    }
    
    .post-section {
        width: 100%;
        margin-bottom: 0;
    }

    .post-container {
        margin: 0.5rem 0 0;
        border-radius: 0;
    }

    h4.username, .post-content {
        font-size: smaller;
    }

    .comment-box h4.username {
        display: none;
    }

    /* Search results */
    #search-results {
        margin-top: 9.5rem;
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 600px) and (prefers-color-scheme:dark) {
    #sort-by {
        box-shadow: none;
    }

    .post-container {
        box-shadow: 0 0 3px white;
    }
}