@font-face {
    font-family: nunito-reg;
    src: url(fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: nunito-black;
    src: url(fonts/Nunito-Black.ttf);
}

@font-face {
    font-family: nunito-xtrabold;
    src: url(fonts/Nunito-ExtraBold.ttf);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    
    padding: 1.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    --black-font: nunito-black;
    --bold-font: nunito-xtrabold;
    --reg-font: nunito-reg;
}

form > div {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    width: 100%;
}

form > div > * {
    justify-self: stretch;
}

h1 {
    font-family: var(--black-font);
}

input[type="submit"], a {
    font-family: var(--bold-font);
}

h3, input[type="text"], label {
    font-family: var(--reg-font);
}

h1, h3 {
    margin-block: 0.2rem;
}

label {
    font-size: 0.75rem;
    align-self: flex-start;
    margin-top: 1rem;
}

label.error {
    margin-top: 0.2rem;
    color: red;
}

input[type="text"], input[type="password"] {
    align-self: stretch;

    padding: 0.8rem;
    margin-top: 0.2rem;

    box-shadow: 2px 2px 5px 2px #0002;
    border: 0;
    border-radius: 5px;
}

input[type="submit"] {
    /* align-self: flex-end; */
    
    width: 6rem;
    height: 2.5rem;
    margin-top: 1.5rem;

    background-color: white;

    border-radius: 0.3rem;
    border: solid 1px black;

    font-size: 1.1rem;

    transition: 200ms;
}

input[type="submit"]:hover {
    color: white;
    background-color: black;
}

hr {
    width: 100%;
    height: 1px;
    border: none;
    background: #aaa;
    /* margin: 20px 0; */
}

a.create {
    width: 11rem;
    padding: 0.5rem;

    text-decoration: none;
    text-align: center;
    color: black;

    background-color: lightgreen;
    border: solid 1px black;
    border-radius: 0.3rem;

    transition: 200ms;
}

a.create:hover {
    background-color: seagreen;
    color: white;
}

a.forgot {
    font-size: 0.75rem;
    font-family: var(--reg-font);
    text-decoration: none;

    margin-block: -0.4rem 1.2rem;
}